body {
  background: #283750;
}
.pb-4,
.py-4 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.jumbotron {
  padding: 0;
  background: #283750;
}
.form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.container {
  max-width: 990px;
}
.section.container {
  background: #fff;
  padding: 30px 0;
  font-weight: normal;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.btn.bg-white {
  background: #fff;
}
